@import url(../color.css);

.Button {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.Button_POSITIVE {
  background-color: #64c964;
  color: white;
}

.Button_NEGATIVE {
  background-color: #fd565f;
  color: white;
}

/* 
  --green: #64c964;
  --lightgreen: #9dd772;
  --yellow: #fdce17;
  --orange: #fd8446;
  --red: #fd565f;
   */
