.DiaryItem {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  padding: 1rem 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.DiaryItem .img_section {
  min-width: 120px;
  height: 80px;

  display: flex;
  justify-content: center;
  cursor: pointer;

  img {
    width: 60%;
  }
}

.DiaryItem .img_section_1 {
  background-color: #64c964;
}

.DiaryItem .img_section_2 {
  background-color: #9dd772;
}

.DiaryItem .img_section_3 {
  background-color: #fdce17;
}

.DiaryItem .img_section_4 {
  background-color: #fd8446;
}

.DiaryItem .img_section_5 {
  background-color: #fd565f;
}

.DiaryItem .info_section {
  flex: 1;
  cursor: pointer;

  .created_date {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .content {
    font-size: 1rem;
  }
}

.DiaryItem .button_section {
  min-width: 70px;
}
