:root {
  --black: #181818;
  --black2: #242424;
  --white: #fafafa;
  --light: #f8f9fa;
  --dark: #dee2e6;

  --green: #64c964;
  --lightgreen: #9dd772;
  --yellow: #fdce17;
  --orange: #fd8446;
  --red: #fd565f;
}
